# Core functionality - changes here should be rare!
/src/app.py                   @usama-kanjo
/src/backend/database.py      @usama-kanjo
/src/backend/routers/auth.py  @usama-kanjo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @usama-kanjo
